@import '../mixin/generics';

.menu-item {
    background: #EEEEEE;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;

    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
    text-decoration: none;

    font-size: 3em;

    &:hover {
        background: #eee;
        color: #3290B1;
    }

    @for $i from 3 through 9 {
        &:nth-child(#{$i}) {
            @include setPrefix(transition-duration, 180ms);
        }
    }
}

$menuColors: #669AE1 #171515 #C49CDE #FC913A #62C2E4 #FE4365;
@for $i from 1 through 6 {
    .item-#{$i} {
	background-color: nth($menuColors, $i);
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);

	&:hover {
	    color: nth($menuColors, $i);
	    text-shadow: none;
	}
    }
}
