@import '../mixin/generics';

.menu-NotOpen {
    @include setPrefix(transition, all 1s);
    @include opacity(0);
    width: 0px;
    height: 0px;
    pointer-events: none;
}


.menu-Opened {
    @include opacity(1);
    background-visibility: none;
}

$laptopX:  0.008361px,   190.9466px,  190.9466px,  0.008361px, -190.86291px, -191.0306px,  -0.25084px;
$laptopY: -204.99997px, -152.47586px, 152.47586px, 204.99997px, 152.62064px, -152.33095px, -204.9997px;

.menu-open {
    display: none;

    &:checked+.menu-open-button {
        -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    &:checked+.menu-open-button {
        -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
        transform: translate3d(0, 0, 0) scale(0.1, 1);
    }

    &:checked+.menu-open-button {
        -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }

    &:checked~.menu-item {
        -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
        transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    }

    @for $i from 1 through 7 {
	&:checked~.menu-item:nth-child(#{$i + 2}) {
	    @include setPrefix(transition-duration, #{$i * 100 + 80}ms);
	    @include setPrefix(transform, translate3d(nth($laptopX, $i), nth($laptopY, $i), 0));
	}
    }

    //スマホ対応
}
