@import './mixin/generics';
@import './rokiicon.scss';

.typeString {
    font-family: 'Sansation';
    text-align: left;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-size: 5em;
    margin-left:15px;
}
