@import './mixin/generics';

@font-face {
    font-family: 'Sansation';
    src: url('../../assets/fonts/sansation-light-webfont.eot'),
    url('../../assets/fonts/sansation-light-webfont.eot?iefix') format('embedded-opentype'),
    url('../../assets/fonts/sansation-light-webfont.woff') format('woff'),
    url('../../assets/fonts/Sansation-Light.ttf') format('truetype'),
    url('../../assets/fonts/sansation-light-webfont.svg') format('svg');
}

.fade {
    @include setPrefix(animation,fadeIn 2s ease 0s 1 normal);
}

#rokiicon {
    cursor: pointer;
    -webkit-box-reflect:below 0.5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
    -webkit-box-reflect: below 0.5px linear-gradient(top, #fff, #000);
}

.isOpen {
    @include setPrefix('backface-visibility', hidden);
    @include setPrefix('animation', live 1.0s linear 0s 1 normal);
}

.isClose {
    @include setPrefix('backface-visibility', hidden);
    @include setPrefix('animation', live2 1.0s linear 0s 1 normal);
}


@include keyframes(fadeIn) {
    0% {
	display: none;
	@include opacity(0);
    }
    1% {
	display: block;
	@include opacity(0);
    }
    100% {
    	display: block;
	@include opacity(1);	
    }
}

@include keyframes(live2) {
    0% {
        @include setPrefix(transform, scale(1.0, 1.0) translate(0%, 0%));
    }
    15% {
        @include setPrefix(transform, scale(0.9, 0.9) translate(0%, 5%));
    }
    30% {
        @include setPrefix(transform, scale(1.3, 0.8) translate(0%, 10%));
    }
    50% {
        @include setPrefix(transform, scale(0.8, 1.3) translate(0%, -10%));
    }
    70% {
        @include setPrefix(transform, scale(1.1, 0.9) translate(0%, 5%));
    }
    100% {
        @include setPrefix(transform, scale(1.0, 1.0) translate(0%, 0%));
    }
}

@include keyframes(live) {
    0% {
	@include setPrefix(transform, scale(1.0, 1.0) translate(0%, 0%));
    }
    40% {
        @include setPrefix(transform, scale(0.95, 1.2) translate(0%, -10%));
    }
    50% {
        @include setPrefix(transform, scale(1.1, 0.9) translate(0%, 5%));
    }
    60% {
        @include setPrefix(transform, scale(0.95, 1.05) translate(0%, -3%));
    }
    70% {
        @include setPrefix(transform, scale(1.05, 0.95) translate(0%, 3%));
    }
    80% {
        @include setPrefix(transform, scale(1.0, 1.0) translate(0%, 0%));
    }
    100% {
        @include setPrefix(transform, scale(1.0, 1.0) translate(0%, 0%));
    }
}

#ro {
    background-visibility: none;
    @include setPrefix(animation,
    Ro 2s ease 0s 1 normal);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: 'Sansation';
        text-align: center;
        font-weight: lighter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: 2px;
        font-size: 5em;
    }
}

#ki {
    @include setPrefix(animation, Ki 2s ease 0s 1 normal);
    @extend #ro;
}

@include keyframes(Ro) {
    0% {
        @include opacity(0);
        @include setPrefix(transform, translateX(-50px));
    }
    100% {
        @include opacity(1);
        @include setPrefix(transform, translateX(0));
    }
}

@include keyframes(Ki) {
    0% {
        @include opacity(0);
        @include setPrefix(transform, translateX(50px));
    }
    100% {
        @include opacity(1);
        @include setPrefix(transform, translateX(0));
    }
}

#captionMain {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, .6);
    @include setPrefix(animation,fadeIn 2s ease 0s 1 normal);
}

#captionHide {
    display: none;
}

.ElTwitter {
}

.ElGithub {
}

.ElLinks {
}

.ELAbout {
}

.ELContact {
}

.ElBlog {
}

.RoView {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 180px;
    left: 0;
    margin: auto;
    width: 80px;
}
