@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
    margin: 0;
    padding: 0;
}

script {
    display: none;
}

.br::before {
    content: '\A';
    white-space: pre;
}

html {
    height: 100%;
}

body {
    font-family: 'Arvo', serif;
    height: 100%;
    background-color: #272B30;
    color: #c8c8c8;
    overflow: hidden;
    font-size: 62.5%;
}

#content {
    width: 100%;
    height: 100%;
}
